/*custom css*/

/*============================*/
/*Capstone work*/
html body
{
    /*background-color: #EFE4E4;*/
    /*background-color: #E8DADA;*/
    background-color: #E0CACA;
    margin:0 10% 0 5%;
}
.bs-example{
    margin:40px 0 0 15px;
	width: 1110px;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    border-TOP: 2px solid grey;
    border-left: 2px solid grey;
    box-shadow: 25px 25px 5px #888888;
    height: 1200px;
    } 
.content-area
{
    float: left;
    width: 750px;
    margin: 20px 0 20px 0;
    padding: 10px;
	height: 1080px;
	 
}
.email-div
{
    background-color: white;
    height:80%;
    margin: 3% 20% 0% 20%;
    border: 1.5em solid #CACECD;
    padding:2% 0 0 2%;;
    border-radius: 4%;
    box-shadow: 40px 40px 8px #888888;
}

.email_textarea
{
    height:280px;
    width:78%;
    margin: 0 0 10% 0;
    padding-bottom:0%;
   
}
.email-submit
{
    float:right;
    margin:0% 0 10% 0;
    font-weight:bolder;
    font-size:3%;
}
.form-header
{
    display:inline;
    float:left;
    margin: 0 0 0 0;
    height: 154px;
    width: 1167px;    
 }
.form-footer
{
    margin:880px 1px 0 0;
    float: right;
    font-size:50%;
}
.form-footer a
{
    margin: 0 20px 0 20px;
}
.img-div
{
    float:left;
    margin-right: 40px;
}
h2,h3
{
   text-decoration: underline;
}
.menu
{

    margin: 35px 0 0 0;
    float: left;
    width: 93%;
    overflow: hidden;
    height: 359px;
    position: relative;
    top: 1px;
    left: 12px;
    }

.header-container
{
    width: 100%;
    min-height: 60px;
    border-radius: 4px;
    border: 2px solid #afd7f7;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position:fixed;
    top:0;   
    height:50px;   
}
.container
{
    width: 760px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 6px; 
}
.left-side
{
    float: left;
    margin: 0 0 0 0;
    width: 245px;
    height: 396px;
}
.right-side
{
    float: right;
    margin: 0 0 0 0;
    width: 245px;
    height: 60px;
}
ul li
{
    list-style: none;   
    padding-top: 30px;

}
ul li a
{
    list-style: none;
    color: gold;
    text-decoration: none;
}
ul li a:hover
{
    list-style: none;
    color: lawngreen;
    text-decoration: none;
}
.reg_content-area
{
    border-top-style:double;
    margin: 210px 0 0 0;
    background-color: #e9e7f0;
    border-radius: 8px;
   border: 4px solid black;
   height: 947px;
   overflow: scroll;
}
.reg_content-area p
{
    margin: 0.9% 1.5% 0.9% 1.5%;
    font-family:Arial Times New Roman Baltic Sans-Serif;
    font-size: 20px;
 }